body{
    background-color:rgb(8, 255, 160) ;
    }
    
    Estilizar o título principal do seu site
     h1{
    color:rgb(255, 0, 221);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background: blue;
    }
    
    Estilizar os parágrafos
    p{
    color:rgb(0, 255, 221) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font: size 20px; ;
    background: blue;
    }